<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSPrivacyAccessedAPICategoryUserDefaults</key>
	<dict>
		<key>NSPrivacyAccessedAPICategoryUserDefaultsReason</key>
		<string>Hoppr SDK uses UserDefaults to store user preferences and session state to provide a seamless and personalized experience.</string>
	</dict>
	<key>NSPrivacyAccessedAPICategorySystemBootTime</key>
	<dict>
		<key>NSPrivacyAccessedAPICategorySystemBootTimeReason</key>
		<string>Hoppr SDK accesses system uptime to accurately measure session durations and improve analytics reliability.</string>
	</dict>
</dict>
</plist>
